body{
      background-color: rgb(26, 26, 26);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: auto;
      align-items: center;
}
h1{
      text-align: center;
      border-bottom: 1px solid black;
      width: 50%;
      padding-bottom: 1%;
}
.basicForm{
      border: solid 1px black;
      padding: 1%;
      width: fit-content;
      border-radius: 5px;
      box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
      margin: 2%;
}
.basicForm #button{
	  background-color: #91000f;
	  border: solid 1px black;
	  color: white;
	  padding: 8px 30px;
	  text-decoration: none;
	  font-size: 14px;
	  display: grid;
	  margin: auto;
	  cursor: pointer;
}
.basicForm #button:active {
	background-color: #7a000d;
}

.birdLogo img {
	float: left;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	background-color: white;
}

.mainNav {
	width: 100%;
}

.mainNav ul {
	list-style-type: none;
  	padding: 0;
  	text-align: center;
}

.mainNav ul li {
	display: inline;
	padding: 10px 20px;
	margin-top: 15px;
	font-size: 18px;
	background-color: #4d4d4d;
}

.mainNav ul li a {
	text-decoration: none;
	color: white;
}

.mainNav ul li:hover {
	background-color: #91000f;
}

.mainNav ul li:active {
	background-color: #7a000d;
}

.redirect {
	color: white;
	text-decoration: none;
}

.redirect a:hover {
	font-weight: bold;
}

.logoutBtn {
	display: block;
	text-align: center;
	border: 1px solid black;
	border-radius: 0;
	color: white;
	background-color: #4d4d4d;
	padding: 10px 20px;
	font-size: 18px;
}

.logoutBtn:hover {
	background-color: #91000f;
}

.logoutBtn:active {
	background-color: #7a000d;
}